@model Some.Models.AllView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @using (Html.BeginForm("AddToUser", "Test"))
    {
        <p>Company: @Html.DropDownList("CompanyId", new SelectList(Model.CompanyViews, "Id", "CompanyName")) </p>
        <p>user: @Html.DropDownList("UserId", new SelectList(Model.UserViews, "Id", "Name")) </p>
        <button type="submit">Some</button>
    }
</div>
</body>
</html>